.feature{
    // margin-top: 100rem;
    background-color:black;
    min-height: 10rem;
    min-width: 10rem;
    display: flex;
    // flex: ;
    position: absolute;
    // align-self: center;
    z-index: 30;
}