.section-book{
    display: flex;
    margin-top: 4.2rem;
    height: 75vh;
    width: auto;
    background-image:linear-gradient(to right bottom, rgba(126, 213, 111, 1),rgba(85, 197, 122, 1));
    background-repeat: no-repeat;
    background-size: cover;
}

.book{
    margin: 10rem auto;
    width: 100rem;
    height: 50rem;
    background-image:linear-gradient(105deg,
                                        rgba(white,.9) 0%,
                                        rgba(white,.9) 50%,
                                        transparent 50%),
                    url(../assets/img/nat-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black,.2);


}