// Mixin
@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media(max-width: 37.5em) {           //600px
            // Whole code block will come here 
            @content
        };
    }
    @if $breakpoint == tab-port{
        @media(max-width: 56.25em) {           //900px
            // Whole code block will come here 
            @content
        };
    }
    @if $breakpoint == tab-land{
        @media(max-width: 75em) {           //1200px
            // Whole code block will come here 
            @content
        };
    }
    @if $breakpoint == big-desktop{
        @media(max-width: 112.5em) {           //1800px
            // Whole code block will come here 
            @content
        };
    }
}


.section-book{
    display: flex;
    margin-top: 4.2rem;
    height: 75vh;
    width: auto;
    background-image:linear-gradient(to right bottom, rgba(126, 213, 111, 1),rgba(85, 197, 122, 1));
    background-repeat: no-repeat;
    background-size: cover;
    @include respond(phone){
        height: 50vh
    }
}

.book{
    margin: 10rem auto;
    width: 100rem;
    height: 50rem;
    background-image:linear-gradient(105deg,
                                        rgba(white,.9) 0%,
                                        rgba(white,.9) 50%,
                                        transparent 50%),
                    url(../assets/img/nat-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black,.2);

    &__form{
        width: 50%;
        padding: 6rem;
    }
}

.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }

    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(white,.5);
        border: none;
        width: 97%;
        border-bottom:  3px solid transparent;
        color: inherit;
        display: block;
        transition: all .3s;
        &::-webkit-input-placeholder{
            color: #999;
        }
    }

    &__input:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black,.1);
        border-bottom:  3px solid var(--color-primary);
    }

    &__input:focus:invalid{
        // #ff7730
        border-bottom: 3px solid  #ff7730;

    }
    // + adjecent sibling selector but ~ any sibling selector first input(top one) next (label)
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);

    }


    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__radio-group{
        width: 49%;
        display: inline-block;
    }
    
    // Hide the actual input button 
    &__radio-input{
        display: none;
    }

    &__radio-label{
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid var(--color-primary);
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -.4rem;


        // for the dot inside the radio button 
        &::after{
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            position: absolute;
            background-color: var(--color-primary);
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: opacity .2s;

        }

        
    }

    // 1->SIBLING <input type='radio' className={`${classes['form__radio-input']}`} id="large" name='size'></input>
    // 2->SIBLING<label for='large' className={`${classes['form__radio-label']}`}>
    //  3-> CHILD OF SIBLING WE SELECT <span className={`${classes['form__radio-button']}`}></span>
    //             Large tour group
    // </label>

// :checked COMES FOR EVERY CHECKBOX/RADIOBUTTON
    //   -1-                      -2-          -CHILD OF 2- 
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        // ONCE CHECKED WE BRING BACK THE opacity;
        opacity: 1;
    }
}