.header{
    background-image:linear-gradient(to right bottom, rgba(126, 213, 111, 0.806),rgba(85, 197, 122, 0.806)) , url(../assets/img/hero-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
    // linear-gradient(to right bottom,rgba(var(--color-primary-light),0.8),rgba(var(--color-primary),0.8))
}
.heading{
    
}
.heading-primary{
    backface-visibility: hidden;
    &-main{
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    &-sub{
        animation: moveInRight 1s ease-out;
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}